.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.body {
  flex: 1;
  margin: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: solid 1px #ccc;
}
